.fullscreen{
    width:100%;
    height:100vh
}
.fm{
    font-size: 0.8rem;
}
.fsm{
    font-size:0.6rem;
}
.fl{
    font-size: 2rem;
}

.fmd{
    font-size:1.2rem
}
.flg{
    font-size:1.5rem
}
.fxl{
    font-size:2rem;
}
.bg-black{
    background-color: rgba(0,0,0,0.9);
}
.heading{
    font-size: 4rem;
}
.subheading{
    font-size:2rem;
}
.lp-mid{
    height:70vh;
    border-radius: 20px;
}

.fixed-nav{
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index:2
}

.client-details{
    position:fixed;
    width:100%;
    height:100vh;
    top:0;
    left:0;
    z-index:4;
    background-color:rgba(0, 0, 0, 0.699)
}
.mbl{
    display:none 
}
@media only screen and (max-width: 768px) {
.landing-png{
    display:none !important
}
.mbl{
    display: block;
}
.pc{
    display:none !important
}
}

